NetworkVideoPlayerFrontend/Connected Services/VideoServiceReference/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6428/FileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6428/FileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6428/FileService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:6428/FileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NetworkFilePlayerBackend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileService_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFilesPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesPage" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFilesPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesPageResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFileProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileProperties" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFileProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetDirectories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectories" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetDirectories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetDirectoriesPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesPage" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetDirectoriesPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesPageResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetDirectoryProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryProperties" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetDirectoryProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFileStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStates" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetFileStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_StartProvideFile_InputMessage">
    <wsdl:part name="parameters" element="tns:StartProvideFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_StartProvideFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartProvideFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_ProvideFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ProvideFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_ProvideFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProvideFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_StartUnprovideFile_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUnprovideFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_StartUnprovideFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUnprovideFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UnprovideFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UnprovideFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_UnprovideFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnprovideFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UnprovideFileForAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UnprovideFileForAll" />
  </wsdl:message>
  <wsdl:message name="IFileService_UnprovideFileForAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnprovideFileForAllResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_StartUnprovideFileForAll_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUnprovideFileForAll" />
  </wsdl:message>
  <wsdl:message name="IFileService_StartUnprovideFileForAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUnprovideFileForAllResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetProvidedFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidedFiles" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetProvidedFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidedFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetProvidedFilesPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidedFilesPage" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetProvidedFilesPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidedFilesPageResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetBasePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasePath" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetBasePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasePathResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="IFileService_GetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="GetFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetFiles" message="tns:IFileService_GetFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetFilesResponse" message="tns:IFileService_GetFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetFilesPage" message="tns:IFileService_GetFilesPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetFilesPageResponse" message="tns:IFileService_GetFilesPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetFileProperties" message="tns:IFileService_GetFileProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetFilePropertiesResponse" message="tns:IFileService_GetFileProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectories">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetDirectories" message="tns:IFileService_GetDirectories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetDirectoriesResponse" message="tns:IFileService_GetDirectories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoriesPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetDirectoriesPage" message="tns:IFileService_GetDirectoriesPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetDirectoriesPageResponse" message="tns:IFileService_GetDirectoriesPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetDirectoryProperties" message="tns:IFileService_GetDirectoryProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetDirectoryPropertiesResponse" message="tns:IFileService_GetDirectoryProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetFileStates" message="tns:IFileService_GetFileStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetFileStatesResponse" message="tns:IFileService_GetFileStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartProvideFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/StartProvideFile" message="tns:IFileService_StartProvideFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/StartProvideFileResponse" message="tns:IFileService_StartProvideFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProvideFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/ProvideFile" message="tns:IFileService_ProvideFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/ProvideFileResponse" message="tns:IFileService_ProvideFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartUnprovideFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/StartUnprovideFile" message="tns:IFileService_StartUnprovideFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/StartUnprovideFileResponse" message="tns:IFileService_StartUnprovideFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnprovideFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UnprovideFile" message="tns:IFileService_UnprovideFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UnprovideFileResponse" message="tns:IFileService_UnprovideFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnprovideFileForAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UnprovideFileForAll" message="tns:IFileService_UnprovideFileForAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UnprovideFileForAllResponse" message="tns:IFileService_UnprovideFileForAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartUnprovideFileForAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/StartUnprovideFileForAll" message="tns:IFileService_StartUnprovideFileForAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/StartUnprovideFileForAllResponse" message="tns:IFileService_StartUnprovideFileForAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvidedFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetProvidedFiles" message="tns:IFileService_GetProvidedFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetProvidedFilesResponse" message="tns:IFileService_GetProvidedFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvidedFilesPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetProvidedFilesPage" message="tns:IFileService_GetProvidedFilesPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetProvidedFilesPageResponse" message="tns:IFileService_GetProvidedFilesPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetBasePath" message="tns:IFileService_GetBasePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetBasePathResponse" message="tns:IFileService_GetBasePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/GetTime" message="tns:IFileService_GetTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/GetTimeResponse" message="tns:IFileService_GetTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFiles">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesPage">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetFilesPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileProperties">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetFileProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectories">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetDirectories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoriesPage">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetDirectoriesPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryProperties">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetDirectoryProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileStates">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetFileStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartProvideFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/StartProvideFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvideFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/ProvideFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartUnprovideFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/StartUnprovideFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnprovideFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/UnprovideFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnprovideFileForAll">
      <soap:operation soapAction="http://tempuri.org/IFileService/UnprovideFileForAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartUnprovideFileForAll">
      <soap:operation soapAction="http://tempuri.org/IFileService/StartUnprovideFileForAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvidedFiles">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetProvidedFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvidedFilesPage">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetProvidedFilesPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasePath">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetBasePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/IFileService/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://localhost:6428/FileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>